{% extends "base.html" %}
{% block title %}Item{% endblock %}
{% block content %}
<style>
    * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.cardRow {margin: 0 -5px;}

.cardRow:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>
<div class="cardRows">
    {% for item in itemList %}
      <div class="column">
        <div class="card">{{ item.get_itemName() }}</div>
      </div>
    {% endfor %}
</div>
<!--<div>
    <table class="table table-striped">
        <thead>
            <tr>
                 <th>Item Name</th>
                 <th>Item Price</th>
                 <th></th>
                 <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in itemList %}
                <tr>
                     <td>{{ item.get_itemName() }}</td>
                    <td>${{ item.get_itemPrice() }}</td>
                     <td><a href="/itemDetails/{{item.get_itemSerial()}}" class="btn btn-info">View Item Details</a></td>
                     <td><form action= "{{url_for('deleteItem', id=item.get_itemCount())}}" method="POST">
                            <input type="submit" value="Add to cart" class="btn btn-primary" onclick="return confirm('Add this item to Cart?')">
                        </form></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>-->
{% endblock %}
