{% extends "base.html" %}
{% block title %}Item{% endblock %}
{% block content %}
<body>
{% for item in itemList %}
<h2>{{ item.get_itemName() }}</h2>
<p>Serial No. {{ item.get_itemSerial() }}</p>
<br>
<h3>${{item.get_itemPrice()}}</h3>
<br>
<p>Availability: {{item.get_itemStockStatus()}}</p>
<br>
<form method="POST" action="">
    <input type="submit" value="Add to Cart" class="btn btn-success" onclick="return confirm('Add this item to cart?')">
</form>
<br><br>
<a href="/catalogueHis" class="btn btn-info">Back</a>
{% endfor %}
</body>
{% endblock %}
