{% extends "staffBase.html" %}
{% block title %}Create Order{% endblock %}
{% block content %}
{% include 'includes/_staffInventoryNav.html' %}
{% from "includes/_formhelper.html" import render_field %}
<form method="POST" action="">
 <div class="form-group">
  {{ render_field(form.orderDate, class="form-check") }}
 </div>
 <div class="form-group">
  {{ render_field(form.shipmentDate, class="form-check") }}
 </div>
 <hr>
 <div class="form-group">
  {{ render_field(form.itemSerial, class="form-control") }}
 </div>
  <div class="form-group">
  {{ render_field(form.orderQuantity, class="form-control") }}
 </div>
 <div id="prof">
 </div>
 <input onclick="orderSubmit()" type="submit" value="Submit" class="btn btn-primary"/>

</form>
{% endblock %}
