{% extends "staffBase.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
{% include 'includes/_staffInventoryNav.html' %}
<hr>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Shipment Date</th>
                <th>Shipment Status</th>
                <th>Received Date</th>
                <th>Edit Status</th>
                <th>Received</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}
