{% extends "staffBase.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
{% include 'includes/_staffInventoryNav.html' %}
<hr>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Invoice Number</th>
                <th>Item Serial</th>
                <th>Item Name</th>
                <th>Item Category</th>
                <th>Item Cost</th>
                <th>Item Price</th>
                <th>Item Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in itemList %}
                <tr>
                    <td>{{</td>
                     <td>{{ item.get_itemName() }}</td>
                     <td>{{ item.get_itemSerial() }}</td>
                     <td>{{ item.get_itemCategory() }}</td>
                     <td>{{ item.get_itemGender() }}</td>
                     <td>{{ item.get_itemCost() }}</td>
                     <td>{{ item.get_itemPrice() }}</td>
                     <td><a href="/updateItem/{{item.get_itemCount()}}" class="btn btn-warning">Update</a></td>
                     <td><form action= "{{url_for('deleteItem', id=item.get_itemCount())}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">
                        </form></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="viewinvoices">
      <table class="table table-striped">
        <thead>
        <tr>
            <th>S/N</th>
            <th>Invoice Number</th>
            <th>Item Serial</th>
            <th>Item Name</th>
            <th>Item Category</th>
            <th>Item Cost</th>
            <th>Item Price</th>
            <th>Item Quantity</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>234567890</td>
            <td>12345</td>
            <td>Plain Top</td>
            <td>Tops</td>
            <td>7.00</td>
            <td>10.00</td>
            <td>100</td>
            <td><a href="#" class="btn btn-info">Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>234567891</td>
            <td>23456</td>
            <td>Denim Jeans</td>
            <td>Bottoms</td>
            <td>10.00</td>
            <td>20.00</td>
            <td>100</td>
            <td><a href="#" class="btn btn-info">Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>234567892</td>
            <td>23896</td>
            <td>Denim shorts</td>
            <td>Bottoms</td>
            <td>5.00</td>
            <td>15.00</td>
            <td>300</td>
            <td><a href="#" class="btn btn-info">Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>234567893</td>
            <td>22356</td>
            <td>Corduroy Jacket</td>
            <td>Outerwear</td>
            <td>20.00</td>
            <td>55.00</td>
            <td>100</td>
            <td><a href="#" class="btn btn-info">Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>234567894</td>
            <td>22567</td>
            <td>Frill Blouse</td>
            <td>Tops</td>
            <td>7.00</td>
            <td>15.00</td>
            <td>50</td>
            <td><a href="#" class="btn btn-info">Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
      </table>
  </div>
    <div class="tab-pane container-fluid" id="createinvoices">
      <p>form</p>
  </div>

  <div class="tab-pane container-fluid" id="stock">
      <p>display stock on hand</p>
  </div>
</div>



{% endblock %}
