{% extends "staffBase.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
{% include 'includes/_staffInventoryNav.html' %}
<hr>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Shipment Date</th>
                <th>Shipment Status</th>
                <th>Received Date</th>
                <th>Shipment Status</th>
                <th>Received</th>
            </tr>
        </thead>
        <tbody>
            {% for stockorder in stockorderList %}
                <tr>
                     <td>{{ invoice.get_stockorderCount() }}</td>
                     <td>{{ invoice.get_stockorderNumber() }}</td>
                     <td>{{ invoice.get_stockorderDate() }}</td>
                     <td>{{ invoice.get_shipmentDate() }}</td>
                     <td>{{ invoice.get_shipmentStatus() }}</td>
                     <td>{{ invoice.get_receivedDate() }}</td>
                     <td><a class="btn btn-info">Update</a></td>
                     <td><a class="btn btn-danger">Received</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
