{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<h1 class="display-4">Contact Us</h1>
<div>
    {% if count == 0 %}
    <p>There are no users.</p>
    {% elif count == 1 %}
    <p>There is 1 user.</p>
    {% else %}
    <p>There are {{ count }} users.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Inquiries</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in usersList %}
        <tr>
            <td>{{ user.get_fname() }}</td>
            <td>{{ user.get_lname() }}</td>
            <td>{{ user.get_email() }}</td>
            <td>{{ user.get_text() }}</td>
            <td>
                <form action="{{ url_for('deleteContact', email=user.get_email()) }}" method="POST">
                    <input type="submit" value="Delete" class="btn btndanger" onclick>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
