{% extends "staffBase.html" %}
{% block title %}monoqlo - staff home{% endblock %}
{% block content %}
<style>
    #homeAnnounce {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    #homeAnnounce p {
        text-align: center;
        font-weight: bold;
    }
    .annDate {
        color: grey;
    }
    .annTitle {
        font-weight: bold;
    }
    .annDesc {
        font-style: italic;
    }
    #staffNav {
        color: black;
    }
</style>
<h1 class="display-4">welcome back, {{ session["name"] }}!</h1>

<br>
<br>

<div id="homeAnnounce">
    <p class="display-4">Latest Announcements</p>
    <table class="table">
        <tbody>
         {% for ann in annList %}
            <tr>
                <td id="annDate">{{ ann.get_date() }}</td>
                <td id="annTitle">{{ ann.get_title() }}</td>
                <td id="annDesc">{{ ann.get_description() }}</td>
            </tr>
         {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
