{% extends "staffBase.html" %}
{% block title %}View Stock Orders{% endblock %}
{% block content %}
{% include 'includes/_staffInventoryNav.html' %}
<hr>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Item Ordered</th>
                <th>Ordered Quantity</th>
                <th>Shipment Date</th>
                <th>Shipment Status</th>
                <th>Received Date</th>
                <th>Shipment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for stockorder in stockorderList %}
                <tr>
                     <td>{{ stockorder.get_stockorderCount() }}</td>
                     <td>{{ stockorder.get_stockorderNumber() }}</td>
                     <td>{{ stockorder.get_stockorderDate() }}</td>
                     <td>{{ stockorder.get_stockItemSerial() }}</td>
                     <td>{{ stockorder.get_stockorderQuantity() }}</td>
                     <td>{{ stockorder.get_shipmentDate() }}</td>
                     <td>{{ stockorder.get_shipmentStatus() }}</td>
                     <td>{{ stockorder.get_receivedDate() }}</td>
                     <td><a href="/updateStockOrder/{{stockorder.get_stockorderCount()}}" class="btn btn-info">Receive Order</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
